body{
    background-color: rgb(109, 172, 169);
    /* background-image: url(); */
}

#batalha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}