@media screen and (max-width: 600px){

    /*Personaegns*/

    #goblin{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 150px;
    }

    #hp-goblin{
        height: 10px;
        width: 70px;
        margin-left: 15px;
        background-color: #777;
        position: relative;
    }

    #goblin img{
        padding-bottom: 90px;
        animation-name: respiracao;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    #hp-heroi{
        height: 10px;
        width: 70px;
        margin-right: 20px;
        margin-bottom: 5px;
        background-color: #777;
        position: relative;
    }

    #sprite-heroi{
        animation-name: respiracao;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes respiracao {
        from {
          width: 100px;
        }
        to {
          width: 105px;
        }
      }

    /*///////////////////////////////////////*/

    /*Caixa de ações*/

    #caixa-acoes{
        border-radius: 15px;
        background-color: #e0e0e0;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        height: 100px;
        width: 80%;
        position: inherit;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #acoes{
        display: flex;
        
    }

    #acoes button{
        font-size: 10px;
    }

    /*///////////////////////////////////////*/

}
